body,
p,
h1,
h2,
h3,
b,
div,
header,
a {
  margin: 0;
}
body {
  background-color: #19191a;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}

/* main_container основной контейнер с двумя частями меню боковое и контент */
.main_container {
  display: flex;
  gap: 1%;
}

.main_container_content {
  flex-grow: 1;
}

/*  */
.head_menu {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: center;
}
.head_menu_main {
  display: flex;
  justify-content: center;
  gap: 1%;
  flex-grow: 1;
  font-size: 14px;
}
.head_menu_optional {
  display: flex;
  align-items: center;
}
/* Доп.Меню aside */
.aside_main {
  position: fixed;
  top: 0;
}

.aside_main .aside_header_icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.aside_header_icon_big_mail {
  flex-basis: 100px;
}
.aside_header_icon_big_mail img {
  width: 100%;
}
.aside_header_icon_pack img {
  width: 25px;
  height: 25px;
}
/* Поисковая строка  */
.search_block_main {
  display: block;
  margin: 0 auto;
  width: 65%;
}

.search_block_input {
  display: flex;
  justify-content: center;
  gap: 5%;
}
.search_input {
  width: 100%;
  height: 5%;
  padding: 0.5%;
  border: 3px solid #2775fc;
  border-radius: 12px;
  background-color: #303030;
}
.search_btn {
  border: 3px solid #2775fc;
  border-radius: 12px;
  background-color: #2775fc;
  color: white;
}

.search_block_info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75%;
  width: 100%;
  align-items: center;
}

.search_block_info a {
  color: white;
}
.search_block_info_data {
  color: grey;
  font-size: 14px;
}
/* Баннер рекламы */
.reclame_block {
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}
.reclame_block_content {
  display: flex;
  align-items: center;
  background-color: #2a2a2b;
  width: 50%;
  min-width: 40%;
  border-radius: 20px;
}
.reclame_block_content p {
  padding-top: 1%;
  width: 100%;
}

.reclame_block_content img {
  height: 95px;
  width: 275px;
  border-radius: 15px;
}

.reclame_block_text {
  width: 100%;
}
.reclame_block_text p {
  padding-top: 1%;
  width: 100%;
}

/*  будущий js-функционал с новостными новостями?  */
.one_main nav ul {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.one_main nav ul li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
}
.container article ul li {
  list-style-type: none;
  font-size: 14px;
  margin-top: 15px;
}

/* aside_news менюшка новостей) */
.container_news_aside {
  display: flex;
  flex-direction: column;
  flex-basis: 275px;
  gap: 50px;
}
.container_news_aside_main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: #303030;
  padding: 10%;
  border-radius: 15px;
}
.container_news_aside_dop {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #303030;
  padding: 10%;
  border-radius: 15px;
  text-align: center;
}
.container_news_aside_dop img {
  width: 25px;
}

.container_news_aside_main_flexbox_weather_base {
  display: flex;
}

.container_news_aside_main_flexbox_weather {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container_news_aside_main_flexbox_weather_dop {
  display: flex;
  justify-content: space-around;
}

.float_big {
  font-size: 20px;
  color: white;
  font-weight: 800;
}
.float_down {
  font-size: 12px;
  color: gray;
}
.container_news_aside_main_flexbox_region {
  display: flex;
  justify-content: space-between;
}

.ikor {
  background-color: #2a2a2b;
  border-radius: 5px;
  padding: 2%;
  position: fixed;
  right: 0;
  bottom: 0;
}
.ikor a {
  font-size: 50px;
  color: white;
}

.ikor:hover {
  background-color: #2775fc;
}
.ikor:active {
  background-color: #003da7;
}

.off {
  background-color: #2a2a2b;
  border-radius: 5px;
  position: fixed;
  left: 0;
  bottom: 0;
}
.off button {
  font-size: 45px;
  background-color: #2a2a2b;
  border-radius: 5px;
  border: none;
  width: 90px;
  height: 115px;
  padding: 2%;
}

.off button:hover {
  background-color: #2775fc;
}
.off button:active {
  background-color: #003da7;
}

.off_Noactive {
  background-color: white;
  color: #19191a !important ;
}

/* Временные стили, для удобства */
img {
  width: 50px;
}

body {
  color: white;
}
