body,
p,
h1,
h2,
h3,
b,
div,
header,
a {
  margin: 0;
}
body {
  background-color: #19191a;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}

/* main_container основной контейнер с двумя частями меню боковое и контент */
.main_container {
  display: flex;
}
/*  */
.head_menu {
  display: flex;
  width: 100%;
  background-color: black;
  justify-content: space-around;
}
.head_menu_main {
  display: flex;
  gap: 1%;
  flex-grow: 1;
  font-size: 14px;
}
.head_menu_optional {
  display: flex;
  align-items: center;
}
/* Поисковая строка  */
.search_block_main {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.search_block_input {
  display: flex;
  justify-content: center;
}
.search_input {
  width: 100%;
  height: 5%;
  padding: 0.5%;
  border: 3px solid #2775fc;
  border-radius: 12px;
  background-color: #303030;
}
.search_btn {
  border: 3px solid #2775fc;
  border-radius: 12px;
  background-color: #2775fc;
  color: white;
}

.search_block_info {
  display: flex;
  justify-content: space-between;
  margin-top: 0.75%;
  width: 100%;
  align-items: center;
}

.search_block_info a {
  color: white;
}
.search_block_info_data {
  color: grey;
  font-size: 14px;
}
/* Баннер рекламы */
.reclame_block {
  display: flex;
  justify-content: center;
  margin-top: 0.5%;
}
.reclame_block_content {
  display: flex;
  align-items: center;
  background-color: #2a2a2b;
  width: 100%;
  border-radius: 20px;
}
.reclame_block_content p {
  padding-top: 1%;
  width: 100%;
}

.reclame_block_content img {
  height: 95px;
  width: 275px;
  border-radius: 15px;
}

.reclame_block_text {
  width: 100%;
}
.reclame_block_text p {
  padding-top: 1%;
  width: 100%;
}

/*  будущий js-функционал с новостными новостями?  */
.one_main nav ul {
  display: flex;
  gap: 7px;
  justify-content: center;
}

.one_main nav ul li {
  list-style-type: none;
}

.container {
  display: flex;
  justify-content: center;
  gap: 15%;
  align-items: center;
}
.container article ul li {
  list-style-type: none;
  font-size: 14px;
  margin-top: 15px;
}

/* aside_news менюшка новостей) */
.container_news_aside {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* Временные стили, для удобства */
img {
  width: 50px;
}

body {
  color: white;
}
