body, p, h1, h2, h3, b, div, header, a {
    margin: 0;
}
/*  */
.head_menu {
    display: flex; width: 100%;
    background-color: black;
    justify-content: space-around;
    
}
.head_menu_main {
    display: flex; gap: 1%;
    flex-grow: 1;  
}
.head_menu_optional {
display: flex; align-items: center;
}




img {
    width: 50px;
}